<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href style="height: 50px" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-expanded="false">
            <img class="account-box-avatar" style="max-width: 24px; max-height: 24px" src="../../images/avatar.png"/>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">{{principal.user().fullname}}</li>
            <li class="divider"></li>
            <li><a ui-sref="app.account">Profile</a></li>

            <li class="divider"></li>
            <li><a href ng-click="logout()">Log Out</a></li>
        </ul>
    </li>
</ul>